section{
    padding: 40px 20px;
    text-align: center;
}

section h2{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

section p{
    margin-bottom: 1rem;
}

/* Form */

form{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1.8rem;
    background-color: var(--accent2-color);
    max-width: 500px;
}

.help-message{
    font-size: 0.9rem;
    font-weight: 700;
}

.required-symbol{
    color: var(--secondary-color);
    font-weight: 900;
}

select,
input[type="email"],
input[type="text"],
input[type="tel"],
textarea
{
    display: block;
    background-color: var(--background-color);
    width: 100%;
    max-width: 400px;
    border: solid 1px var(--accent-color);
    border-radius: 6px;
    padding: .75rem 1rem;
    color: var(--typeface-color);
    margin-top: 10px;
}



input[type="radio"]{
    background-color: var(--background-color);
    width: 18px;
    height: 18px;
}


.services{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.services span{
    color: var(--secondary-color);
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: -5px;
}

.service-option{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.optional-marker{
    color: var(--secondary-color);
    font-weight: 700;
}

input[type="submit"]{
    border: none;
    background-image: linear-gradient(to right top, #051937, #06234a, #072e5f, #063974, #05458a);
    color: var(--background-color);
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 1px 1px 4px var(--background-color);
    font-size: 1.2rem;
}

input[type="submit"]:hover{
    background-image: linear-gradient(to left bottom, #051937, #06234a, #072e5f, #063974, #05458a);
}

/* Image */
img{
    display: none;
}