@media (min-width: 768px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        padding: 0.5rem 2rem;
    }

    nav a {
        display: block;
        color: var(--primary-color);
    }

    nav {
        grid-column: 3/-1;
        background-color: var(--secondary-color);
    }

    #menu {
        display: none;
    }

    #temple-list figure {
        margin: auto;
        padding: 1rem 0.5rem;
        height: 352px;
    }


}